<center>
  <h1><%= params[:q] %></h1>

  <div class="results">
      <% @gifs.each do |gif| %>
        <div class="gif">
        <img src= "<%= gif[:images][:original][:url]%>"> <br/>
        </div>
      <% end %>
  </div>
</center>