body {
  background-color: black;
  background-size: 100%;
  color: whitesmoke;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
}

a:link {             
  color: white;
}

a:hover {
  color: lightgray;
}
a:visited {
  color: lightskyblue;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

.front_page_container {
  line-height: 1.5em;
}