body {
  background-color: black;
  background-size: 100%;
  color: whitesmoke;
  text-align: center;
}
nav {
  background-color: rgb(27, 27, 27);
  text-align: left;
  font-size: medium;
  padding: 1em;
  margin: -10px;
}
a {
  text-decoration: none;
  font-family: Arial;
}

a:link {             
  color: white;
}

a:hover {
  color: lightgray;
}
a:visited {
  color: lightskyblue;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

.main {
  background-color: rgb(27, 27, 27);
  padding: 2em;
  line-height: 1.5em;
}
.results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 1em;
  background-color: rgb(27, 27, 27);
}
.gif {
  align-self: center;
  justify-self: center;
  background-color: black;
  padding: 1em;
  margin: 1em;
}
